{
	"root": true,
	"ignorePatterns": ["dist", "node_modules", "src/version.ts"],

	"extends": [
		"strictest/eslint",
		"strictest/promise",
		"strictest/typescript-eslint",
		"strictest/unicorn",
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:@typescript-eslint/recommended-requiring-type-checking",
		"plugin:prettier/recommended",
		"plugin:require-extensions/recommended"
	],
	"plugins": [
		"prettier",
		"require-extensions",
		"unicorn",
		"promise",
		"@typescript-eslint",
		"deprecation",
		"file-progress"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "./tsconfig.prod.json",
		"tsconfigRootDir": "./"
	},
	"env": {
		"node": true
	},
	"rules": {
		"file-progress/activate": 1,
		"deprecation/deprecation": "warn",
		"prettier/prettier": "warn",
		"no-constant-condition": "warn",
		"no-console": "warn",
		"no-dupe-else-if": "warn",
		"spaced-comment": ["warn", "always", { "exceptions": ["*"] }], // doc comments exist
		"consistent-return": "off", // TS handles this
		"no-duplicate-imports": "off", // typescript-eslint handles this
		"@typescript-eslint/no-duplicate-imports": "error",
		"@typescript-eslint/no-empty-interface": "off",
		"@typescript-eslint/require-await": "warn",
		"@typescript-eslint/no-inferrable-types": "off",
		"@typescript-eslint/no-invalid-void-type": ["error", { "allowAsThisParameter": true }],
		"@typescript-eslint/explicit-member-accessibility": [
			"error",
			{ "accessibility": "no-public", "overrides": { "properties": "off" } }
		],
		"@typescript-eslint/explicit-function-return-type": [
			"error",
			{ "allowConciseArrowFunctionExpressionsStartingWithVoid": true }
		],
		"@typescript-eslint/consistent-type-definitions": ["warn", "interface"],
		"@typescript-eslint/array-type": ["warn", { "default": "generic" }],
		"@typescript-eslint/dot-notation": "off",
		"unicorn/catch-error-name": ["warn", { "name": "error" }],
		"unicorn/import-index": ["error", { "ignoreImports": true }],
		"unicorn/no-process-exit": "off" // we are a CLI app lol
	},

	"overrides": [
		{
			"files": ["src/**/*.test.ts", "src/**/__mocks__/**/*.ts"],
			"extends": ["plugin:jest/recommended"],
			"plugins": ["jest"],
			"parserOptions": {
				"project": "./tsconfig.test.json"
			},
			"env": {
				"jest": true
			},
			"rules": {
				"prettier/prettier": "warn",
				"max-nested-callbacks": "off", // unit tests involve a lot of nested callbacks
				"jest/expect-expect": [
					"warn",
					{
						"assertFunctionNames": [
							"expect",
							"expectArray",
							"expectArrayOfLength",
							"expectDefined",
							"expectNull",
							"expectToContain",
							"expectUndefined",
							"expectValueEqual"
						]
					}
				]
			}
		},
		{
			"files": ["tests/**/*.ts"],
			"extends": ["plugin:mocha/recommended"],
			"plugins": ["mocha"],
			"parserOptions": {
				"project": "./tsconfig.e2e.json"
			},
			"rules": {
				"prettier/prettier": "warn",
				"max-nested-callbacks": "off", // unit tests involve a lot of nested callbacks
				"func-names": "off", // unnamed functions are common in Mocha
				"@typescript-eslint/no-invalid-this": "off" // mocha exposes test metadata in `this`
			}
		},
		{
			"files": ["*.js", "*.cjs"],
			"parser": "null"
		},
		{
			"files": ["scripts/**/*.ts"],

			"parserOptions": {
				"project": "./tsconfig.test.json",
				"tsconfigRootDir": "."
			},
			"rules": {
				"unicorn/no-process-exit": "off",
				"no-console": ["warn", { "allow": ["error", "warn", "info"] }]
			}
		}
	]
}
