version: "3"

services:
  gamgee:
    image: "git.average.name/averagehelper/gamgee:latest"
    environment:
      - DISCORD_TOKEN=[TOKEN GOES HERE]
      - LOG_LEVEL=info # Valid options: silly, debug, verbose, info, warn, error
    #   Optional:
    # - EVENTS_ROLE_ID=[Role ID]
    # - QUEUE_ADMIN_ROLE_ID=[Role ID]
    # - QUEUE_CREATOR_ROLE_ID=[Role ID]
    # - BOT_ADMIN_ROLE_ID=[Role ID]
    #   Warning! Container internal path!
    # - DATABASE_URL="file:/new/path/to/store/db/at.sqlite"
    volumes:
      - "./db/:/db/" # Store DB at ./db/db.sqlite
    #   Other potentially useful mounts:
    # - "./logs/:/app/logs/"
    restart: unless-stopped # Automatically restart container
